.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;

}
mat-icon{
  font-size: 70px;
  padding: 40px;
  align-items: center;
  text-align: center;
}

h1{
  margin: 0;
}
button{
  width: 400px;
  height: 400px;
  margin: 5px;
  background-color: darksalmon;
  border-radius: 20px;
}
