<div class="container">
  <h1>Notifications</h1>
  <mat-card>
    <mat-card-content>
      <h2>Producto en Riesgo de Acabarse</h2>
      <p>El producto "ibuprofeno" cuenta con 6 unidades y está cerca a agotarse</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <h2>Producto en Riesgo de Vencimiento</h2>
      <p>El producto "ibuprofeno" está cerca de expirarse</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <h2>Producto en Riesgo de Agotarse</h2>
      <p>El producto "Paracetamol" cuenta con 20 unidades y está cerca a agotarse</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <h2>Producto en Riesgo de Terminarse</h2>
      <p>Se venden diariamente 3 unidades de "Vitamina D" y solo se encuentra 9 unidades de este producto en stock</p>
    </mat-card-content>
  </mat-card>
</div>
