<div class="card-container">
  <h1>Settings</h1>
  <div class="button-row">
    <button color="primary">
      <mat-icon style="">perm_identity</mat-icon>
      <h1>My Profile</h1>
    </button>
    <button color="primary">
      <mat-icon>question_answer</mat-icon>
      <h1>Support</h1>
    </button>
  </div>
  <div class="button-row">
    <button color="primary">
      <mat-icon> contact_mail</mat-icon>
      <h1>Membership</h1>
    </button>
    <button color="primary">
      <mat-icon>settings</mat-icon>
      <h1>Administrator</h1>
    </button>
  </div>
  <button type="submit" class="button-68" (click)="CerrarSesion()">Cerrar Sesion</button>
</div>
