<<!-- filtrar-producto-modal.component.html -->
<div class="modal-container">
  <h2>Filtrar Producto</h2>

  <!-- Campos de entrada para los datos de filtrado -->
  <div class="input-container">
    <div class="input-row">
      <label>Cantidad</label>
      <input [(ngModel)]="quantity" placeholder="Producto" />
    </div>
    <div class="input-row">
      <label>Categoría</label>
      <input [(ngModel)]="commercialName" placeholder="Categoría" />
    </div>
  </div>

  <!-- Botones -->
  <div class="button-container">
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="filtrar()">Filtrar</button>
  </div>
</div>
